.satu{
    font-family: 'Aclonica';font-size: 25px;
    text-decoration: none;
    color: #0D5AB9;
    margin-left: 20px;
    font-weight: bold;
    margin-top: 10px;
}
.nav{
    font-size: 20px;
    color: #0D5AB9 !important;
    font-weight: bold;
    margin-left: 50px;
    margin-top: 10px;
}